{% extends "layout.html" %}


{% block body %}

<h3>Haqqımızda</h3>
<hr>

<p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta quae cupiditate voluptatum ratione eum consequuntur odio perferendis id unde quidem, at ut, dolores atque harum officiis facilis necessitatibus ea? Consequuntur hic ipsam ipsa veniam maiores tempora, in, possimus debitis quidem iure omnis. Quas explicabo architecto nihil, aperiam officiis sequi assumenda animi ea accusantium provident eveniet aspernatur. Dolorum similique nostrum temporibus ad dolores minus illum neque! Repellendus voluptates corporis consequuntur nobis accusantium, placeat, doloribus fugiat dignissimos molestias aliquid velit itaque libero.
</p>
{% endblock body %}
